.item-categorie {
  display: flex;
  align-items: center;
  &:hover {
    span {
      color: var(--pink);
    }
  }
  span {
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
    opacity: 0.7;
    font-weight: 400;
    margin-left: 0.8rem;
    transition: color 0.3s ease;
  }
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 28rem;
  height: 3.6rem;
  input {
    font-family: "Atyp BL Text", sans-serif;
    flex: 1;
    height: 100%;
    background-color: transparent;
    border: 1px solid rgba(153, 149, 166, 0.25);
    border-radius: 4px 0 0 4px;
    padding: 0 1.6rem;
    color: #ffffff;
    transition: border 0.3s ease;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
    &:focus {
      border: 1px solid var(--pink);
    }
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 3.6rem;
    background-color: var(--pink);
    border-radius: 4px;
    margin-left: -0.5rem;
    transition: filter 0.3s ease;
    &:hover {
      filter: brightness(0.8);
    }
  }
}

.card-post-lg {
  display: block;
  width: 100%;
  max-width: 72.8rem;
  .image {
    width: 100%;
    height: 32rem;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 3.5rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .info {
    .top-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.6rem;
      ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        li {
          position: relative;
          display: flex;
          align-items: center;
          &:not(:first-child) {
            margin-left: 4rem;
            &:after {
              content: "";
              width: 6px;
              height: 6px;
              background-color: #393c40;
              position: absolute;
              border-radius: 50%;
              left: -20px;
            }
          }
          span {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 150%;
            color: var(--gray-scale-05);
            margin-left: 0.8rem;
          }
        }
      }
    }
    h3 {
      max-width: 95%;
    }
  }
}

.card-post-xs {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 38.4rem;
  height: 10.4rem;
  .image {
    width: 10.4rem;
    height: 10.4rem;
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .info {
    flex: 1;
    margin-left: 3.2rem;
    h6 {
      margin-top: 1.2rem;
      margin-bottom: 0.5rem;
    }
    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      li {
        position: relative;
        display: flex;
        align-items: center;
        &:not(:first-child) {
          margin-left: 2.4rem;
          &:after {
            content: "";
            width: 6px;
            height: 6px;
            background-color: #393c40;
            position: absolute;
            border-radius: 50%;
            left: -15px;
          }
        }
        span {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 150%;
          color: var(--gray-scale-05);
        }
      }
    }
  }
}

.categorie {
  font-weight: 600;
  font-size: 14px;
  line-height: 105%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--pink);
}
