.s-hero-post {
  padding-top: 8.3rem;
  padding-bottom: 11.7rem;
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .left-container {
    flex: 1;
    max-width: 72.8rem;
    .title {
      margin-bottom: 4.2rem;
      h2 {
        margin-top: 1.4rem;
      }
    }
  }
  .right-container {
    flex: 1;
    max-width: 38.4rem;
    margin-top: 4rem;
    .all {
      margin-top: 4.2rem;
      .item-post {
        position: relative;
        &:not(:last-child) {
          padding-bottom: 3.2rem;
          margin-bottom: 3.2rem;
          &:after {
            content: "";
            background: url("../img/line-divisor.svg") no-repeat center center;
            width: 100%;
            position: absolute;
            height: 0.2rem;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
  }
}

.s-artigos {
  padding-top: 12rem;
  padding-bottom: 12rem;
  background: linear-gradient(180deg, #0f0c1b 85.69%, rgba(15, 12, 27, 0) 100%);
  border-bottom: 2px solid #1c162e;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    p {
      display: flex;
      align-items: center;
      color: var(--gray-scale-06);
      img {
        margin-left: 1.6rem;
      }
    }
  }
  .all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 32px;
    margin-bottom: 8rem;
  }
  button {
    display: block;
    margin: 0 auto;
  }
}

.s-podcast {
  padding-top: 12rem;
  padding-bottom: 1.2rem;
  border-bottom: 2px solid #1c162e;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    .ctrl-slide {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      max-width: 18.4rem;
      .swiper-pagination {
        position: relative;
        bottom: 0;
        width: auto;
        .swiper-pagination-bullet {
          width: 2.4rem;
          height: 0.3rem;
          background-color: #f67acb;
          border-radius: 0;
          opacity: 0.25;
          transition: background-color 0.3s ease;
          &-active {
            opacity: 1;
          }
        }
      }
      .crtl {
        display: flex;
        align-items: center;
        .btn {
          &.swiper-button-disabled {
            opacity: 0.5;
            pointer-events: none;
          }
          &-prev {
            transform: rotate(180deg);
            margin-right: 1.7rem;
          }
        }
      }
    }
  }
  .slide-podcast {
    position: relative;
    overflow: hidden;
  }
}
